<header id='header'>
	<h2>Episodes</h2>
	<button popovertarget='create-account' popovertargetaction='toggle'>Add</button>
</header>

<article id='animes'>
	{{#each data.episode}}
		<article class='anime' data-index='{{@index}}'>
			<video controls>
				<source src="/{{video}}" type="application/vnd.apple.mpegurl" />
				<track src='/{{previews}}' kind='metadata' default />
			</video>
			<div style='display: grid;'>
				<div class='label'>
					<span class='title'>Anime:</span>
					<span class='value'>{{anime.name}}</span>
				</div>
				<div class='label'>
					<span class='title'>Season:</span>
					<span class='value'>{{season.season}}</span>
				</div>
				<div class='label'>
					<span class='title'>Title:</span>
					<span class='value'>{{title}}</span>
				</div>
				<div class='label'>
					<span class='title'>Created:</span>
					<span class='value'>{{date createdAt}}</span>
				</div>
				<div class='label'>
					<span class='title'>Updated:</span>
					<span class='value'>{{date updatedAt}}</span>
				</div>
				<div>
					<form action='/api/anime/episode?id={{_id}}&_method=DELETE' method='post'>
						<input type='submit' value='Delete' />
					</form>
				</div>
				<pre class='json'>{{json this}}</pre>
			</div>
		</article>
	{{/each}}
	<article id='create-account' class='popover' popover='hint'>
		<fieldset>
			<legend>Create</legend>

			<form action='/api/anime/episode?_method=POST' enctype='multipart/form-data' method='post'>
				<select name='anime' required>
					{{#each data.anime}}
						<option value='{{_id}}'>{{name}}</option>
					{{/each}}
				</select>
				<select name='season' required>
					{{#each data.season}}
						<option value='{{_id}}'>{{title}}</option>
					{{/each}}
				</select>
				<input type='text' name='title' placeholder='Enter Title' required />
				<input type='text' name='episode' placeholder='Enter episode' required />
				<input type='file' name='video' placeholder='Enter video' required />
				<input type='submit' value='Create episode' popovertargetaction='hide' />
			</form>
		</fieldset>
	</article>
</article>